@model AccessCorp.GestaoCategoria.Model.CampoViewModel


<div class="form-group">
    <label for="idNome" class="col-lg-2 control-label">
        @Model.Descricao
    </label>
    <div class="col-lg-10">
        @if (Model.IdTipoCampo == "6")
        {
            @Html.DropDownList("idTextoCampoCombobox",
                    new SelectList(Model.TextoCampos, "TextoCampoId", "Texto"), "Selecione", new { ng_model = "textoCampo.TextoCampoId", @class = "form-control" })
        }
        else if (Model.IdTipoCampo == "1" || Model.IdTipoCampo == "5")
        {
            <input type="@Model.NomeTipoCampo" class="form-control move-left" id="@Model.IdTipoCampo" value="" ng-model="textoCampo.TextoCampoId" />
        }
        else
        {
            <input type="@Model.NomeTipoCampo" class="form-control" id="@Model.IdTipoCampo" value="" ng-model="textoCampo.TextoCampoId" />
        }
    </div>
</div>


